
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.erynn {
  width: 370px;
  height: 190px;
  outline: 2px solid #131313;
  outline-offset: 3px;
  overflow: hidden;
  filter:grayscale(0.4) contrast(0.9) brightness(0.7) sepia(0);
}


.lain {
  color:transparent;
  text-align:left; 
  font:200px 'Playfair Display', serif; 
  letter-spacing:2px; 
  line-height:10px; 
  margin-top:-10px; 
  margin-left:-20px; 
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #675431;
  opacity:0.4;
  transform: rotate(20deg);
  position:absolute;

}

.truth {
  width: 150px;
  height: 190px;
  color:#fff; 
  align-content:center; 
  text-align:center;
  font:15px 'Playfair Display', serif; 
  text-transform:uppercase;
  letter-spacing:0px; 
  line-height:14px; 
  text-shadow:2 2 3px #000000; 
  opacity:0.7;
  position:absolute;
  margin-left:20px;
}

.erynn2 {
  width: 370px;
  height: 190px;
  outline: 2px solid #131313;
  outline-offset: 3px;
  overflow: hidden;
  filter:grayscale(0.4) contrast(1) brightness(0.7) sepia(0.2);
}


.lain2 {
  color:transparent;
  text-align:left; 
  font:200px 'Playfair Display', serif; 
  letter-spacing:2px; 
  line-height:10px; 
  margin-top:-5px; 
  margin-left:-10px; 
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000000;
  opacity:0.5;
  transform: rotate(0deg);
  position:absolute;
  text-shadow:0 0 8px #514329;
}

.truth2 {
  width: 150px;
  height: 190px;
  color:#fff; 
  align-content:center; 
  text-align:center;
  font:19px 'Lora', serif; 
  font-weight:100;
  font-style:italic;
  text-transform:none;
  letter-spacing:0px; 
  line-height:16px; 
  text-shadow:2 2 2px #000000; 
  opacity:0.7;
  position:absolute;
  margin-left:15px;
}

.erynn3 {
  width: 270px;
  height: 195px;
  outline-offset: 3px;;
}

.lain3 {
  width: 260px;
  height: 190px;
  color:#fff; 
  align-content:center; 
  text-align:center;
  font:10px 'Cinzel'; 
  letter-spacing:1px; 
  line-height:10px; 
  text-shadow:1px 1px 1px #000000; 
  opacity:0.9;
  position:absolute;
  margin-left:60px;
}
.lain3 i {
  
  letter-spacing:2px;
  font-style:normal;
}
.truth3 {
  color:#ffffff;
  text-align:center; 
  font:110px 'Playfair Display', serif; 
  letter-spacing:2px; 
  line-height:10px; 
  top:40px;
left:150px;
  opacity:0.3;
  transform: rotate(-10deg);
  position:absolute;
}
