.auspicia {
  width: 360px;
  height: 190px;
  outline-offset: 3px;
  filter:grayscale(0.2) contrast(1.1) brightness(0.8) sepia(0.2);
}


.porphyria {
  width: auto;
  height: 190px;
  color:#fff; 
  align-content:center; 
  text-align:center;
  font:8px 'Cinzel'; 
  letter-spacing:2px; 
  line-height:7px; 
  text-shadow:3px 2px 3px #000000; 
  opacity:0.6;
  position:absolute;
  margin-left:50px;
}