.darkrelas{
  width: 635px;
  min-height: 400px;
  height: auto;
  margin: 30px auto;
  padding: 15px;
  border: 10px solid #685b58;
  background: #000000;
  display: grid;
  grid-template-columns: repeat(3,200px);
  gap: 10px 14px;
  position: relative;
  z-index: 2;
}

.darkrelas1{
  width: 190px;
  height: 190px;
  border: double 4px #685b58;
  position:relative;
  padding: 3px;
  
}
.darkrelas1 img{
  width: 190px;
  height: 190px;
  object-fit: cover;
  filter: var(--darkfilter);
}

.darkrelas2{
  width: 187px;
  height: 187px;
  padding: 3px;
  opacity: 0;
  transition:0.8s ease-in;
  background: var(--dark2);
  position:absolute;
  top:0px;
  backdrop-filter:blur(1px);
  display:flex;
  align-items:center;
  justify-content:center;
  flex-flow: column wrap;
}

.darkrelas2:hover{
  opacity: 1;
}

.darkrelas2 span{
  font-size: 35px;
  font-family: WindSong;
  text-transform:lowercase;
  font-weight: 100;
  font-style: italic;
  color: #9d867f;
}

.darkrelas2 em{
  color: #696969;
  font-size: 13px;
  line-height:16px;
  margin-top:5px;
  text-transform: none;
  font-family: Merriweather;
  font-weight: 100;
  text-align:center;
}
